{% extends "master.html" %}
{% block title%}About 1000{% endblock %}
{% block content %}
<h1><span>About</span>.1000</h1>
<h3>About the project</h3>
<p>This project was started as part of Python course at my university. I needed the topic for the project so I have chosen this game because I know and like it a lot. My friends and I play this game very often during breaks and lectures. We find it very addictive. So I realized that it would be great idea to be able to play it online. This way we could play anywhere! And finally I could deliver this game to masses of people.</p>
<h3>About technologies</h3>
<img style="float:right" src="/images/python.png"/>
<p>This project is written in <a href="http://www.python.org/">Python</a> for all server-side computation. Client-side is written in <a href="http://en.wikipedia.org/wiki/JavaScript">JavaScript</a> for game dynamics and communications with server. <a href="http://en.wikipedia.org/wiki/JSON">JSON</a> is used for communication format because of its simplicity and for being lightweight. I decided to use <a href="http://code.google.com/apis/charttools/">Google charts</a> to show the progress of the game. Finally everything is hosted on <a href="http://code.google.com/appengine/">Google Apps Engine</a> because its free and offers a lot of resources.</p>
<h3>About developer</h3>
<img style="float:left; margin:6px" src="/images/me.jpg"/>
<p>I am the student of <a href="http://www.vu.lt">Vilnius university</a> currently studying Software Engineering at <a href="http://www.mif.vu.lt">Mathematics and Informatics Faculty (MIF)</a>. I am interested in many IT fields such as programming languages, databases, computer networks, operating systems etc. Particle physics is also seems very attractive. For leisure I play and watch football, hangout with my friends and study/create a theory about a <a href="http://en.wikipedia.org/wiki/Simulated_reality">simulated world</a> in which we all live. My hope - perfect moment. My weakness - Civilization 4.</p>
{% endblock %}
