{% extends "master.html" %}
{% block title %}Game{% endblock %}
{% block game %}
<input id="session_id" type="hidden" name="id" value="{{ session }}"/>

<div id="spacer"></div>

<div id="left_opponent" class="player_box">
  <h3 class="first" id="opponent1_username"></h3>
  <span class="slogan" id="opponent1_points"></span>
  <span id="opponent1_info"></span>
  <img id="opponent1_turn" src="/images/wait.png"/>
</div>

<div id="right_opponent" class="player_box">
  <h3 class="first" id="opponent2_username"></h3>
  <span class="slogan" id="opponent2_points"></span>
  <span id="opponent2_info"></span>
  <img id="opponent2_turn" src="/images/wait.png"/>
</div>

<div id="game_header">
  <h2 id="info_header"></h2>
</div>

<div id="bank">
  <img id="bank2" onclick="retrieve(this)"/>
  <img id="bank3" onclick="retrieve(this)"/>
  <img id="bank1" onclick="retrieve(this)"/>
</div>

<div id="your_player" class="player_box">
  <h3 class="first" id="player_username"></h3>
  <span class="slogan" id="player_points"></span>
  <span id="player_info"></span>
  <span id="taken"></span>
  <span id="trump"></span>
  <img id="player_turn" src="/images/wait.png"/>
</div>

<div id="cards">
  <div id="cards_inner">
    <img class="card" id="card1" onclick="put(this)"/>
    <img class="card" id="card2" onclick="put(this)"/>
    <img class="card" id="card3" onclick="put(this)"/>
    <img class="card" id="card4" onclick="put(this)"/>
    <img class="card" id="card5" onclick="put(this)"/>
    <img class="card" id="card6" onclick="put(this)"/>
    <img class="card" id="card7" onclick="put(this)"/>
    <img class="card" id="card8" onclick="put(this)"/>
    <img class="card" id="card9" onclick="put(this)"/>
    <img class="card" id="card10" onclick="put(this)"/>
  </div>
</div>

<div id="gamemenu">
  <h3 class="first">Game menu</h3>
  <input id="deal" style="display:none" type="submit" value="Deal" onclick="post('deal')"/>
  <input id="open" style="display:none" type="submit" value="Open" onclick="post('open')"/>
  <input id="blind" style="display:none" type="submit" value="Blind" onclick="post('blind')"/><br/>
  <input id="last" style="display:none" type="submit" value="Last trick" onmousedown="showLast()"onmouseup="hideLast()">
  <select id="bettings" style="display:none"></select>
  <input id="bet" style="display:none" type="submit" value="Bet" onclick="bet()"/>
  <input id="pass" style="display:none" type="submit" value="Pass" onclick="post('pass')"/><br/>
  <input id="plus" style="display:none" type="submit" value="Pass the game" onclick="post('plus')"/><br/>
  <input id="collect" style="display:none" type="submit" value="Collect" onclick="post('collect')"/>
  <input id="quit" type="submit" value="Quit" onclick="quit()"/>
</div>

<div id="chat">
    <textarea id="chat_messages" rows="4" cols="60" readonly="true">[mini-chat]</textarea><br/>
    <input id="chat_message" name="message" type="text" onkeyup="checkEnter()"/>
    <input id="chat_submit" type="submit" value="Send" onclick="postMessage()"/>
</div>

<script type="text/javascript" src="/js/ajax.js"></script>
<script type="text/javascript" src="/js/game.js"></script>
<script type="text/javascript" src="/js/chat.js"></script>
<script type="text/javascript">updater();</script>
{% endblock %}